{{page-title "FullStatic2x"}}

<h2 id="title">Welcome to Ember</h2>
A component from service test addon start
<br>
<br>
<AComp></AComp>
<br>
A component from service test addon end

<br>
<br>
<br>
Modifier component test start
<Test></Test>
Modifier component test end

{{outlet}}