<div
  {{did-intersect
    onEnter=this.onEnteringIntersection
    onExit=this.onExitingIntersection
  }}
>
  <b>
    {{#if this.itworks}}
      IT WORKS
    {{else}}
      BROKEWN :(
    {{/if}}
  </b>
</div>